{{#loadPage path '/'}}
    <h1>Ingreso de Productos</h1>    
    <form action="/api/productos/form" method="post" name="productos" enctype="multipart/form-data" style="display: flex;flex-direction: column;align-content: center;gap: 1rem;">
        <span>Nombre: <input type="text" name="title" id="title" placeholder="Nombre de Producto" required></span>
        <span>Precio: <input type="number" name="price" id="price" placeholder="Precio de Producto" required></span>
        <span>Imagen: <input type="file" name="thumbnail" id="thumbnail" required></span>
        <span><button>Añadir Producto</button></span>
    </form>       
{{else}}
    {{#loadPage path '/tienda'}}
        {{> tienda}}   
    {{else}}
        {{#loadPage path '/tienda/producto/:id'}}
            {{> producto}}        
        {{/loadPage}}
    {{/loadPage}}
{{/loadPage}}
